body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    background-color: white;
    height: 70%;
    width: 70%;
    box-shadow: 5px 5px 10px lightgray;
    border-radius: 10px;
    border: solid 3px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.game {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: black;
    grid-gap: 5px;
    flex: 3;
}

.header {
    flex: 1;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer {
    flex: 1;
}

.child {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    font-weight: 700;
    font-size: 4rem;
}

p {
    margin: 5px;
    font-weight: bolder;
    font-size: 2rem;
    text-align: center;
}

.dialog {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.dialog > form > button {
    padding: 10px;
    font-size: 1rem;
    font-weight: bold;
}

.footer {
    visibility: visible;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.footer > button {
    padding: 20px;
    font-size: 1rem;
    font-weight: bolder;
}

.credits {
    display: flex;
    align-items: center;
}

.credits > a {
    width: 50px;
    height: 50px;
}
.credits > p {
    font-size: 1rem;
}